/* HTML5 Boilerplate */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; word-wrap: break-word; word-break: hyphenate; }

ul, li { list-style: none; list-style-type: none; display: block; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; word-wrap: break-word; }

img { border: none; max-width: 100%; vertical-align: middle; margin: 0 auto; padding: 0; display: block; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-family: Avenir, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, Avenir, Verdana, Sans-serif; font-size: 14px; line-height: 1.4em; font-weight: 400; color: #000; background-color: #FFF; background-attachment: fixed; background-size: cover; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; max-width: 2000px; margin: 0 auto; }

p { padding-bottom: 1em; display: block; line-height: 1.4em; }

a { text-decoration: underline; color: inherit; cursor: pointer; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height: 1.1em; display: block; padding-bottom: 0.3em; }
h1.nopad, h2.nopad, h3.nopad, h4.nopad, h5.nopad, h6.nopad { padding-bottom: 0; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { white-space: nowrap; }

h1 { font-size: 64px; }

h2 { font-size: 56px; }

h3 { font-size: 45px; }

h4 { font-size: 34px; }

h5 { font-size: 24px; }

h6 { font-size: 20px; }

hr { display: block; padding: 0; border: 0; height: 1px; background-color: rgba(0, 0, 0, 0.3); max-width: 100%; margin: 10px auto; }

input, textarea { font-family: Avenir, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, Avenir, Verdana, Sans-serif; font-size: 14px; line-height: 1.4em; font-weight: 300; color: #000; -webkit-appearance: none; background-color: #FFF; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border: 0px; outline: none; padding: 5px 10px; height: 20px; border: 1px solid rgba(0, 0, 0, 0.3); resize: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.3); }

input:-moz-placeholder, textarea:-moz-placeholder { color: rgba(0, 0, 0, 0.3); }

.s { text-decoration: line-through; }

.clear { clear: both; display: block; }




/* EVERYTHING ELSE */

header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	background-color:#e93432;
	color:#FFF;
	padding:16px 24px;
	font-weight:500;
	height:72px;
}

header #logo {
	font-size:24px;
	line-height:24px;
	font-weight:900;
	float:left;
	height:40px;
	padding:8px 0;
	margin-right:16px;
}

header #user {
	float:right;
	line-height:24px;
	padding:8px 0;
	margin-left:16px;
	height:40px;
}

header #user > a {
	text-decoration: none;
}

header #search {
	color:#FFF;
	height:40px;
	margin:0 auto;
	width:auto;
	overflow:hidden;
	max-width:500px;
	background-color:#C21B19;
	padding:8px;
	border-radius:4px;
}

#search > input {
	border:0px solid transparent;
	background-color:transparent;
	color:inherit;
	font-weight:inherit;
	height:24px;
	padding:0;margin:0;
	width:100%;
	font-size:18px;
	text-align:center;
}

#search > input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }

input:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }

#username{
	color: white;
}

main {
	left:0;right:0;bottom:0;
	top:72px;
	position:fixed;
}

#pseudomain {
	left:0;right:0;top:0;bottom:0;
	position:fixed;
}

main > section, #pseudomain > section {
	overflow:hidden;
	height:100%;
}


#left_panel {
	width:140px;
	padding:16px;
	float:left;
}

#left_panel > .section_title {
	text-transform: uppercase;
	font-size:10px;
	color:rgba(0,0,0,0.5);
}

#mid_panel {
	width:auto;
	overflow:auto;
	padding:24px;
	padding-bottom:64px;
}

#right_panel {
	float:right;
	width: 500px;
	overflow:auto;
	padding:24px;
	padding-bottom:64px;
}

.section_title {
	font-weight:bold;
	font-size:24px;
	line-height:1em;
}

.section_subtitle {
	color:rgba(0,0,0,0.5);
	font-style:italic;
}

.section_subtitle a {
	text-decoration: none;
	font-weight:800;
	-webkit-transition: .2s ease all;
}

.section_subtitle a:hover {
	text-decoration: underline;
	font-weight:800;
}

.button {
	text-decoration: none;
	border:2px solid #e93432;
	color:#e93432;
	font-weight:900;
	border-radius:5px;
	padding:8px;
	display:inline-block;
	margin-right:16px;
	margin-left:0;
	background-color: white;
	-webkit-transition: .2s ease all;
	outline:none;
}

.button:hover {
	color:#FFF;
	background-color:#e93432;
	text-decoration: none;
}

.button.right {
	float:right;
	margin-left:16px;
	margin-right:0;
	text-decoration: none;

}

nav {
	padding-bottom:16px;
}

nav li.on a {
	font-weight:900;
	background-color:#FAD2D2 !important;
	color:#800100;
}

nav li a {
	display:block;
	text-decoration:none;
	font-size:15px;
	line-height:1.1em;
	padding:6px 4px 6px 16px;
	margin:0 -4px 0 -16px;
	border-top-right-radius: 3px;
	border-bottom-right-radius:3px;
}

nav li a:hover {
	background-color:#fff2f2;
}

.modal-backdrop{
	position: relative !important;
}

#questions {
	display:table;
	width:100%;
	margin:16px 0;
	border-radius:3px;
}

#questions > li {
	display:table-row;
}

#questions > li:nth-child(even) {
	background-color:rgba(0,0,0,0.04);
}

#questions > li > div {
	display:table-cell;
	padding:4px 0px;
}

#questions > li > .votes {
	width:50px;
	text-align:center;
	vertical-align:top;
	-webkit-transition: .2s ease all;
}

#questions > li > .votes > a {
	cursor:pointer;
	width:30px;
	margin:0 auto;
	text-align:center;
	display:block;
	padding-top:4px;
	text-decoration: none;
	-webkit-transition: .2s ease all;
}

#questions > li > .votes > a:hover {
	padding-top:2px;
	padding-bottom:2px;
}

#questions > li > .votes > div {
	font-size:10px;
	line-height:1.4em;
}

#questions > li > .element > a {
	color:#e93432;
	font-weight:500;
	font-size:18px;
	line-height:1.3em;
	text-decoration: none;
}

#questions > li > .element > div {
	line-height:1em;
}

#questions > li > .element > div > a {
	text-decoration: none;
	font-size:12px;
	margin-right:4px;
	color:rgba(0,0,0,0.7);
}

#questions > li > .element > div > a:hover {
	text-decoration: underline;
}

#questions > li > .element ul.tags {
	display:inline-block;
	vertical-align: bottom;
}

#questions > li > .element .tags li {
	float:left;
	margin-right:4px;
	display:inline;
}

#questions > li > .element .tags a {
	font-size:9px;
	text-decoration: none;
	padding:1px 3px;
	background-color:#fff2f2;
	border-radius:3px;
	color:rgba(0,0,0,0.5);
}

#questions > li > .element .tags a:hover {
	text-decoration: underline;
}

#logout{
	width: 80px;
	height: 30px;
}

section.chat {
	position:relative;
	padding-top:0 !important;
	padding-bottom:0 !important;
	border-left:1px solid rgba(0,0,0,0.1);
}

section.chat > ul {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	margin:24px;
}

section.chat .chathead {
	position:absolute;
	top:0;
	left:0;
	right:0;
}

section.chat .conversation {
	overflow:auto;
	position:absolute;
	top:60px;
	left:0;
	right:0;
	bottom:50px;
}

section.chat .conversation .time {
	float:left;
	color:rgba(0,0,0,0.5);
	width:60px;
	font-size:11px;
	line-height:24px;
}

section.chat .conversation .message {
	overflow:hidden;
}

section.chat .conversation .message a.user {
	text-decoration: none;
	font-weight:800;
	margin-right:8px;
}

section.chat .inputbox {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:50px;
}

section.chat .inputbox > .textarea_wrap {
	border:2px solid rgba(0,0,0,0.2);
	border-radius:3px;
	padding:8px;
}

section.chat .inputbox > .textarea_wrap > textarea {
	border:0 solid transparent;
	padding:0;
	margin:0;
	width:100%;
}