::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background-color: #2C3E50;
}
::-webkit-scrollbar-thumb {
	background-color: #E74C3C;
}
::-webkit-scrollbar-button {
	background-color: #2980B9;
} 

#div1{
	margin-top: 60px;
	padding-bottom: 30px;
	
}

#div2{
	margin-top: 60px;
		padding-bottom: 30px;
}

#div3{
	margin-top: 60px;
		padding-bottom: 40px;
}
.tex{
	font-size: 1.2em;
	margin-left: -70px;
}


#steth{
	width: 200px;
	height: 200px;
}

.red{
	color:#e93432;
}

#list{
	width: 200px;
	height: 200px;
}

#data{

	width: 200px;
	height: 200px;

}

hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

#cpr{
	padding-top: 45px;
}
.foot_a{
	margin-top: 100px;
	height: 100px;
	background-color: #e93432;
	color: white;
	vertical-align: middle;
}
#footer_signup{
background-color:#e93432;;
  color:#FFF;
  border-color:#e93432;;

  height:40px;
  width: 140px;

  cursor:pointer;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }

.topmore{
	padding-top: 14px;
}

.brand{
	padding-top: 17px;
	margin-bottom: 2px;
	color: white !important;

}