.red{
	color:#e93432;
}

.navbar-default, .navbar-brand {
    background-color:#e93432;
}

.form-control{
	padding-top: 10px;
}

.top{
	padding-top: 7px;
}

.topmore{
	padding-top: 14px;
}

.brand{
	padding-top: 17px;
	margin-bottom: 2px;
	color: white !important;
}

#sear{
	margin-top:20px;

}
#bar{
	-webkit-box-shadow: 7px 0px 0px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 7px 0px 0px 0px rgba(0,0,0,0.5);
box-shadow: 7px 0px 0px 0px rgba(0,0,0,0.5);
}
#svg1{
	height:100px;
	width:100px;
}
body{
	background-color: #fff2f2 !important;
}

.btn-default{
	    color: #FFF;
    background-color: #E93432;
}

.btn-default:hover{
	    color: #FFF;
    background-color: #E93432;
}
.form-control{
	border:none;
	box-shadow: none;
}
.form-control:focus{
	border:none;

}
.d3{
	background-color: white;
	height: 400px;
}
.which{
	margin-top: 20px;
}
#undefined{
	margin-top: 100px;
	width: 200px;
	height: 200px;
}
#d3img{
	height: 200px;
}

#form{
	margin-top: 100px;
	width: 600px;
	height: 400px;
	background-color: white;
	border-bottom: solid 10px #e93432;
	margin-top: 50px;
	
}

.form_cont{
	margin-top: 50px;
}

.prompt{
	font-size: 1em;
	font-weight: bolder;
	float: right;
}

.form_input{
	border-bottom: 1px solid #e93432;
	border-right: none;
	border-left: none;
	border-top: none;
	width: 100%;
}

#foot{
	height: 100px;
}